<div class="action-buttons">
  <button (click)="formLoadingTrigger.next('user')" type="button">Load User Form</button>
  <button (click)="formLoadingTrigger.next('company')" type="button">Load Company Form</button>
</div>
<div *ngIf="formConfig$ | async as formConfig" class="dynamic-form-container">
  <form [formGroup]="formConfig.form"
        (ngSubmit)="onSubmit(formConfig.form)"
  >
    <h3 class="form-heading">{{formConfig.config.description}}</h3>
    <ng-container *ngFor="let control of formConfig.config.controls | keyvalue: comparatorFn">
      <ng-container
        [ngComponentOutlet]="controlResolver.resolve(control.value.controlType) | async"
        [ngComponentOutletInjector]="control.key | controlInjector: control.value"
      >
      </ng-container>
      <div *ngIf="formConfig.form.get(control.key)?.hasError('required') && formConfig.form.get(control.key)?.dirty" class="input-error">This field is required</div>
      <div *ngIf="formConfig.form.get(control.key)?.hasError('email') && formConfig.form.get(control.key)?.dirty" class="input-error">It must be a valid email</div>
      <div *ngIf="formConfig.form.get(control.key)?.hasError('minlength') && formConfig.form.get(control.key)?.dirty" class="input-error">
        It must contain {{formConfig.form.get(control.key)?.getError('minlength').requiredLength }} characters
      </div>
      <div *ngIf="formConfig.form.get(control.key)?.dirty && formConfig.form.get(control.key)?.hasError('banWords')" class="input-error">This word is not allowed</div>
    </ng-container>
    <button type="submit" [disabled]="formConfig.form.invalid">Save</button>
  </form>
</div>
